PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=vehicle_rental_db

JWT_SECRET=supersecretjwtkey123456
JWT_EXPIRES_IN=1d

UPLOAD_PATH=uploads
